@font-face {
  font-family: "iconfont"; /* Project id 4277145 */
  src: url('iconfont.woff2?t=1711074545291') format('woff2'),
       url('iconfont.woff?t=1711074545291') format('woff'),
       url('iconfont.ttf?t=1711074545291') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-yishangjiashangpin:before {
  content: "\e67c";
}

.icon-yixiajiashangpin:before {
  content: "\e8ac";
}

.icon-bianji:before {
  content: "\e61a";
}

.icon-shanchu:before {
  content: "\e63c";
}

.icon-tianjia:before {
  content: "\e61f";
}

.icon-tuikuan:before {
  content: "\e75a";
}

.icon-daifukuan:before {
  content: "\e619";
}

.icon-daifahuo:before {
  content: "\e611";
}

.icon-dingdanzhongxin:before {
  content: "\e634";
}

.icon-fabu:before {
  content: "\e61e";
}

.icon-icon:before {
  content: "\e658";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-shouyefill:before {
  content: "\e6ca";
}

.icon-dingdanguanli:before {
  content: "\e624";
}

.icon-yuangongzhanghaoguanli:before {
  content: "\e605";
}

.icon-shangpinguanli:before {
  content: "\e606";
}

.icon-guanliyuan:before {
  content: "\e652";
}

.icon-guanbi:before {
  content: "\e69f";
}

.icon-shangjiantou:before {
  content: "\e602";
}

.icon-xiajiantou:before {
  content: "\e603";
}

.icon-lajitong:before {
  content: "\e716";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e651";
}

